
@use './variables.scss' as *;


.accordion-item {
    width: 50%;

    h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $background-color-card;
        color: white;
        padding: 5px;
        cursor: pointer;

        .arrow {
            transition: all 0.3s ease-in-out;
        }

        .arrow-up {
            transform: rotate(0);
        }

        .arrow-down {
            transform: rotate(180deg);
        }
    }

    .accordion-content {
        // display: flex;
        visibility: visible;
        // transition: visibility 6s ease-in-out,  
        //             height 2s ease-in;

    }

    .accordion-content_hidden {
        visibility: hidden;
        height: 0;

    }


}