@use './variables.scss' as *;


.appartmentSheet {
    margin-bottom: 20px;
}

.appartmentSheet-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}
    


.appartmentSheet-content__infos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    h1 {
        font-size: 36px;
        font-weight: 500;
        color: $background-color-card;
    }

    p {
        font-size: 18px;
        font-weight: 500;
    }

    .tags {
        display: flex;
        font-weight: 700;
        gap: 15px;
    }

    button {
        // width: 200px;
        color: white;
        border-radius: 25px;
        border: none;
        background-color: $background-color-card;
        font-size: 14px;
        font-weight: 700;
        padding: 15px;
    }

}

.appartmentSheet-content__host {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.host-infos {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
    color: $background-color-card;

    .host-infos__name {
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }

    img{
        width: 64px;
        height: 64px;
        // box-sizing: content-box;
        object-fit: cover;
        color: white;
        border-radius: 50%;
    }

}



.host-rating {
    display: flex;
    gap: 10px;
    font-size: 35px;
}

.accordion-appartement {
    display: flex;
    gap: 50px;
    
    .accordion-appartment_items {
        width: 50%;
    }
    
}