
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    // max-width: 1440px;
}

a {
    text-decoration: none;
    color: black;
}


.mainbody {
    margin-inline: 100px;

    @media screen and (max-width: 700px) {
        margin-inline: 0 ;
        
    }
}