
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    // max-width: 1440px;
}

a {
    text-decoration: none;
    color: black;
}

// .root {
//     // min-height: 100vh;
// }

.mainbody {
    margin-inline: 100px;

    @media screen and (max-width: 700px) {
        margin-inline: 10px ;
        
    }
}