
@use '../../sass/variables.scss' as *;



.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    gap: 50px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: $background-color-gallery;
    cursor: pointer;


    @media screen and (max-width: 700px) {
        flex-direction: column;
        gap: 30px;
        
    }
}