
.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 415px;
    margin-bottom: 30px;

    @media screen and (max-width: 700px) {
        height: 255px; 
    }
}

.slide {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-hidden {
    display: none;
}

.arrow {
    position: absolute;
    width: 4rem;
    height: 4rem;

    &:hover {
        cursor: pointer;
    }

    @media screen and (max-width: 700px) {
        width: 2.2rem;
        height: 2.2rem;
    }
}

.arrow-left {
    left: 1rem;
}

.arrow-right {
    right: 1rem;
}

.indicator {
    position: absolute;
    font-size: 18px;
    font-weight: 500;
    bottom: 10px;
    color: white;

    @media screen and (max-width: 700px) {
        display: none;
    }
}