
@use '../../sass/variables.scss' as *;


.accordion-item {
    // width: 50%;

    .accordion-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $background-color-card;
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        color: white;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;

        @media screen and (max-width: 700px) {
            font-size: 18px;  
        }

        .collapse {
            transition: all 0.3s ease-in-out;
        }

        .arrow-up {
            transform: rotate(0);
        }

        .arrow-down {
            transform: rotate(180deg);
        }
    }

    .accordion-content {
        // display: flex;
        visibility: visible;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        background-color: $background-color-accordion;
        padding: 10px;
        border-radius: 5px;

    }

    .accordion-content_hidden {
        visibility: hidden;
        height: 0;

    }


}